<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="AccountFileAppender" fileName="logs/business/accounts/accounts.log"
                     filePattern="logs/business/accounts/accounts-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="AccountsErrorFileAppender" fileName="logs/business/accounts/accounts-errors.log"
                     filePattern="logs/business/accounts/accounts-errors-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="EmployeeFileAppender" fileName="logs/business/employees/employees.log"
                     filePattern="logs/business/employees/employees-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="EmployeeErrorFileAppender" fileName="logs/business/employees/employees-errors.log"
                     filePattern="logs/business/employees/employees-errors-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="ProjectFileAppender" fileName="logs/business/projects/projects.log"
                     filePattern="logs/business/projects/projects-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="ProjectErrorFileAppender" fileName="logs/business/projects/projects-errors.log"
                     filePattern="logs/business/projects/projects-errors-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="TaskFileAppender" fileName="logs/business/tasks/tasks.log"
                     filePattern="logs/business/tasks/tasks-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="TaskErrorFileAppender" fileName="logs/business/tasks/tasks-errors.log"
                     filePattern="logs/business/tasks/tasks-errors-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="EmailFileAppender" fileName="logs/business/email/email-notification.log"
                     filePattern="logs/business/email/email-notification-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="EmailErrorFileAppender" fileName="logs/business/email/email-errors.log"
                     filePattern="logs/business/email/email-errors-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="FilesErrorFileAppender" fileName="logs/business/files/files-errors.log"
                     filePattern="logs/business/files/files-errors-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="ExceptionHandlerAppender" fileName="logs/business/exceptions/handled-exceptions.log"
                     filePattern="logs/business/exceptions/handled-exceptions-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="ru.borshchevskiy.pcs.service.services.account" level="debug" additivity="false">
            <AppenderRef ref="AccountFileAppender"/>
            <AppenderRef ref="AccountErrorFileAppender"/>
        </Logger>
        <Logger name="ru.borshchevskiy.pcs.service.services.employee" level="debug" additivity="false">
            <AppenderRef ref="EmployeeFileAppender"/>
            <AppenderRef ref="EmployeeErrorFileAppender"/>
        </Logger>
        <Logger name="ru.borshchevskiy.pcs.service.services.project" level="debug" additivity="false">
            <AppenderRef ref="ProjectFileAppender"/>
            <AppenderRef ref="ProjectErrorFileAppender"/>
        </Logger>
        <Logger name="ru.borshchevskiy.pcs.service.services.task" level="debug" additivity="false">
            <AppenderRef ref="TaskFileAppender"/>
            <AppenderRef ref="TaskErrorFileAppender"/>
        </Logger>
        <Logger name="ru.borshchevskiy.pcs.service.services.email" level="debug" additivity="false">
            <AppenderRef ref="EmailFileAppender"/>
            <AppenderRef ref="EmailErrorFileAppender"/>
        </Logger>
        <Logger name="ru.borshchevskiy.pcs.service.services.files" level="debug" additivity="false">
            <AppenderRef ref="FilesErrorFileAppender"/>
        </Logger>
        <Logger name="ru.borshchevskiy.pcs.web.handlers" level="debug" additivity="false">
            <AppenderRef ref="ExceptionHandlerAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>